[submodule "lib/common.make"]
	path = lib/common.make
	url = http://github.com/christophevg/common.make.git
[submodule "lib/ProtoJS"]
	path = lib/ProtoJS
	url = http://github.com/christophevg/ProtoJS.git
